@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    text-decoration: none;
    transition: all 0.3s;
}
a{
    color: black;
}
a:hover{
    color: #383838;
}
body{
    width: 60%;
    margin-left: 20%;
}
hr{
    width: 1px;
    border: 0;
    background-color: black;
}